In [172]:
"""
Necessary Comment : jupyter notebook

"""

'\nNecessary Comment : jupyter notebook\n\n'

In [173]:
"""
Necessary Lighbary
"""
import sqlite3
import pandas as pd
import talib
import pytz

In [174]:
"""
Database Connection
"""
connection = sqlite3.connect(r"C:/Users/user/PycharmProjects/TradingAi/cripto.db")
cur = connection.cursor()
database_data = cur.execute("select * from asset order by CloseTime desc").fetchall()

In [175]:
"""
Dataframe
"""
df = pd.DataFrame(database_data)

In [176]:
"""
Necessary Columns
"""
df.columns = ['Id', 'Symbol', 'Open', 'High', 'Low', 'Close', 'VolumeBTC', 'Change', 'CloseTime', 'Trades', 'BuyQuoteVolume', 'Time']
df = df.iloc[:, 2:12]
df['HAMMER'] = talib.CDLHAMMER(df['Open'], df['High'], df['Low'], df['Close'])
df['MA7'] = talib.MA(df['Close'], timeperiod=int(7), matype=0)
df['MA25'] = talib.MA(df['Close'], timeperiod=int(25), matype=0)
df['MA90'] = talib.MA(df['Close'], timeperiod=int(90), matype=0)
df['MA200'] = talib.MA(df['Close'], timeperiod=int(200), matype=0)
df['CloseTime'] = pd.to_datetime(df['CloseTime'], unit='ms')
df['MA7=MA25'] = abs(df['MA7'] - df['MA25']) <= 0.1
df['MA25=MA90'] = abs(df['MA25'] - df['MA90']) <= 0.1
df['MA90=MA7'] = abs(df['MA90'] - df['MA7']) <= 0.1
df = df.iloc[:, 6:]
df = df[['CloseTime', 'Trades', 'HAMMER','MA7','MA25','MA90', 'MA7=MA25', 'MA25=MA90', 'MA90=MA7']]
df.head(60)

,CloseTime,Trades,HAMMER,MA7,MA25,MA90,MA7=MA25,MA25=MA90,MA90=MA7
0,2022-11-24 04:16:59.999,194.0,0,NaN,NaN,NaN,False,False,False
1,2022-11-24 04:15:59.999,265.0,0,NaN,NaN,NaN,False,False,False
2,2022-11-24 04:14:59.999,65.0,0,NaN,NaN,NaN,False,False,False
3,2022-11-24 04:13:59.999,203.0,0,NaN,NaN,NaN,False,False,False
4,2022-11-24 04:12:59.999,253.0,0,NaN,NaN,NaN,False,False,False
5,2022-11-24 04:11:59.999,164.0,0,NaN,NaN,NaN,False,False,False
6,2022-11-24 04:10:59.999,58.0,0,16719.525714,NaN,NaN,False,False,False
7,2022-11-24 04:09:59.999,247.0,0,16718.218571,NaN,NaN,False,False,False
8,2022-11-24 04:08:59.999,89.0,0,16716.491429,NaN,NaN,False,False,False
9,2022-11-24 04:07:59.999,45.0,0,16715.711429,NaN,NaN,False,False,False
10,2022-11-24 04:06:59.999,281.0,0,16714.255714,NaN,NaN,False,False,False
11,2022-11-24 04:05:59.999,183.0,0,16710.545714,NaN,NaN,False,False,False
12,2022-11-24 04:04:59.999,177.0,0,16706.978571,NaN,NaN,False,False,False
13,2022-11-24 04:03:59.999,200.0,0,16703.405714,NaN,NaN,False,False,False
14,2022-11-24 04:02:59.999,64.0,0,16701.772857,NaN,NaN,False,False,False
15,2022-11-24 04:01:59.999,309.0,0,16701.027143,NaN,NaN,False,False,False
16,2022-11-24 04:00:59.999,95.0,0,16699.151429,NaN,NaN,False,False,False
17,2022-11-24 03:59:59.999,29.0,0,16698.537143,NaN,NaN,False,False,False
18,2022-11-24 03:58:59.999,0.0,0,16699.148571,NaN,NaN,False,False,False
19,2022-11-24 03:57:59.999,242.0,0,16699.792857,NaN,NaN,False,False,False
20,2022-11-24 03:56:59.999,84.0,0,16700.991429,NaN,NaN,False,False,False
21,2022-11-24 03:55:59.999,475.0,0,16700.185714,NaN,NaN,False,False,False
22,2022-11-24 03:54:59.999,31.0,0,16699.305714,NaN,NaN,False,False,False
23,2022-11-24 03:53:59.999,69.0,0,16699.010000,NaN,NaN,False,False,False
24,2022-11-24 03:52:59.999,258.0,0,16698.598571,16706.3676,NaN,False,False,False
25,2022-11-24 03:51:59.999,107.0,0,16699.442857,16705.4808,NaN,False,False,False
26,2022-11-24 03:50:59.999,66.0,0,16701.392857,16705.0484,NaN,False,False,False
27,2022-11-24 03:49:59.999,144.0,0,16701.250000,16704.5020,NaN,False,False,False
28,2022-11-24 03:48:59.999,18.0,0,16701.501429,16703.8264,NaN,False,False,False
29,2022-11-24 03:47:59.999,210.0,0,16701.018571,16702.9948,NaN,False,False,False
30,2022-11-24 03:46:59.999,154.0,0,16701.641429,16702.2724,NaN,False,False,False
31,2022-11-24 03:45:59.999,501.0,0,16701.132857,16701.2176,NaN,True,False,False
32,2022-11-24 03:44:59.999,325.0,0,16700.371429,16700.4836,NaN,False,False,False
33,2022-11-24 03:43:59.999,38.0,0,16699.712857,16700.3504,NaN,False,False,False
34,2022-11-24 03:42:59.999,329.0,0,16699.911429,16700.0780,NaN,False,False,False
35,2022-11-24 03:41:59.999,216.0,0,16700.800000,16700.0588,NaN,False,False,False
36,2022-11-24 03:40:59.999,127.0,0,16704.021429,16701.1680,NaN,False,False,False
37,2022-11-24 03:39:59.999,362.0,0,16706.994286,16702.2768,NaN,False,False,False
38,2022-11-24 03:38:59.999,171.0,0,16711.660000,16703.5288,NaN,False,False,False
39,2022-11-24 03:37:59.999,446.0,0,16717.102857,16704.7760,NaN,False,False,False
40,2022-11-24 03:36:59.999,758.0,0,16720.614286,16705.8348,NaN,False,False,False
41,2022-11-24 03:35:59.999,2072.0,0,16725.134286,16707.3532,NaN,False,False,False
42,2022-11-24 03:34:59.999,1804.0,0,16728.168571,16708.3556,NaN,False,False,False
43,2022-11-24 03:33:59.999,1815.0,0,16728.192857,16709.3004,NaN,False,False,False
44,2022-11-24 03:32:59.999,1935.0,0,16727.710000,16710.0936,NaN,False,False,False
45,2022-11-24 03:31:59.999,2068.0,0,16727.851429,16711.0496,NaN,False,False,False
46,2022-11-24 03:30:59.999,1171.0,0,16729.640000,16713.0232,NaN,False,False,False
47,2022-11-24 03:29:59.999,1327.0,0,16730.791429,16714.6508,NaN,False,False,False
48,2022-11-24 03:28:59.999,1582.0,0,16731.758571,16716.5228,NaN,False,False,False
49,2022-11-24 03:27:59.999,2237.0,0,16735.208571,16718.6064,NaN,False,False,False
50,2022-11-24 03:26:59.999,1988.0,0,16738.937143,16720.3588,NaN,False,False,False
51,2022-11-24 03:25:59.999,1989.0,0,16742.105714,16721.4932,NaN,False,False,False
52,2022-11-24 03:24:59.999,1695.0,0,16742.255714,16722.5312,NaN,False,False,False
53,2022-11-24 03:23:59.999,1854.0,0,16740.894286,16724.0532,NaN,False,False,False
54,2022-11-24 03:22:59.999,1598.0,0,16740.274286,16725.6424,NaN,False,False,False
55,2022-11-24 03:21:59.999,2266.0,0,16739.712857,16727.1828,NaN,False,False,False
56,2022-11-24 03:20:59.999,1477.0,0,16736.708571,16728.5676,NaN,False,False,False
57,2022-11-24 03:19:59.999,1367.0,0,16734.654286,16729.9580,NaN,False,False,False
58,2022-11-24 03:18:59.999,1927.0,0,16732.608571,16730.7040,NaN,False,False,False
59,2022-11-24 03:17:59.999,2372.0,0,16733.055714,16731.8116,NaN,False,False,False

In [8]:
"""
X value for DecisionTreeClassifier
"""
X = df.drop(columns=['Open', 'High', 'Low', 'Close', 'VolumeBTC', 'Change', 'CloseTime', 'BuyQuoteVolume', 'Time'])
X

       Trades
0        40.0
1       301.0
2       202.0
3        58.0
4        77.0
...       ...
43254   429.0
43255   396.0
43256   506.0
43257   627.0
43258   985.0

[43259 rows x 1 columns]

In [9]:
# Moving Average
real = talib.MA(df['Close'], timeperiod=int(9), matype=0)
# real

In [10]:
"""
y value for DecisionTreeClassifier
"""
# Find Candle Pattern
candle_pattern = talib.CDLHAMMER(df['Open'], df['High'], df['Low'],
                                         df['Close'])
y = candle_pattern.head(60)
y

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
13      0
14      0
15      0
16    100
17    100
18      0
19      0
20      0
21      0
22      0
23      0
24      0
25    100
26      0
27      0
28      0
29      0
30      0
31    100
32      0
33      0
34      0
35      0
36      0
37      0
38      0
39      0
40      0
41      0
42      0
43      0
44      0
45      0
46      0
47      0
48      0
49      0
50      0
51      0
52      0
53      0
54      0
55      0
56      0
57      0
58      0
59      0
dtype: int32

In [11]:
"""
Model for AI Research
"""
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model

DecisionTreeClassifier()

In [12]:
model.fit(X, y)

ValueError: Number of labels=60 does not match number of samples=43259

In [ ]:
# model.predict([  [40, 0],[60, 1] ])